{% extends "../layouts/base.twig" %}
{% block style %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/../../assets/css/collaboration.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	{% include "../partials/header.twig" %}
	<div id="project-container" data-project-id="{{ project.id_project }}">
		<section class="main-content">
			<div class="feed-container">
				<h1>{{ project.name }}</h1>
				<p id="descriptionProject">{{ project.description }}</p>
				<div class="file-feed">
					{% for file in project.files %}
						<div class="file-item" data-file-id="{{ file.id }}">
							<div class="file-header">
								<strong class="file-name" contenteditable="false">{{ file.name }}</strong>
								<div class="file-actions">
									<button class="toggle-actions-btn" id="toggle-actions-btn-{{ file.id }}">...</button>
								</div>
								<div class="actions-menu" style="display: none;">
									<h2>Que voulez-vous faire ?</h2>
									<button class="edit-file-btn">Modifier</button>
									<button class="delete-file-btn">Supprimer</button>
								</div>
							</div>
							<p class="file-description" contenteditable="false">{{ file.description }}</p>
							{% if file.url %}
								{% if file.url ends with '.mp3' or file.url ends with '.wav' %}
									<audio controls>
										<source src="/uploads/{{ file.url }}" type="audio/mpeg">
										Votre navigateur ne supporte pas l'élément audio.
									</audio>
								{% elseif file.url ends with '.mp4' or file.url ends with '.avi' %}
									<video class="video" controls autoplay muted loop playsinline>
										<source src="/uploads/{{ file.url }}" type="video/mp4">
										Votre navigateur ne supporte pas l'élément vidéo.
									</video>
								{% else %}
									<div id="picture">
										<img src="/uploads/{{ file.url }}" target="_blank" alt="image partagé">
									</div><br>
								{% endif %}

								
								<div class="comments" id="comments-{{ file.id }}" style="display: none;">
									<h2>Commentaires</h2>
									{% if file.comments is defined and file.comments is not empty %}
										<ul>
											{% for comment in file.comments %}
												<li class="commentaire">
													<strong>{{ comment.userName }}</strong>
													<p id="Commment">{{ comment.content }}</p>
													{{ comment.created_at | date("d/m/Y") }}
												</li>
											{% endfor %}
										</ul>
									{% else %}
										<p>Aucun commentaire pour ce fichier.</p>
									{% endif %}
									<form id="formComment" action="/project/{{ project.id_project }}/{{ file.id }}/comment" method="POST">
										<textarea id="textComment" name="commentContent" placeholder="Ajouter un commentaire" required></textarea><br>
										<button id="btn-comment" type="submit">Commenter</button>
									</form>
								</div>
								<button class="toggle-comments-btn" id="btn-toggle-{{ file.id }}" onclick="toggleComments({{ file.id }})">Afficher les commentaires</button>
							{% endif %}

							<div class="edit-actions" style="display: none;">
								<button class="save-edit-btn">Enregistrer</button>
								<button class="cancel-edit-btn">Annuler</button>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="sidebar-container">
				<div class="members-list">
					<form action="/project/{{ project.id_project }}/upload" method="POST" enctype="multipart/form-data">
						<h3>Ajouter un fichier</h3>
						<div>
							<label for="name" style=" width: 100px;">Titre :</label>
							<input type="text" id="name" name="name" required>
						</div>
						<div>
							<label for="description" style=" width: 100px;">Description :</label>
							<textarea id="description" name="description" required></textarea>
						</div>
						<div>
							<label for="genre" style=" width: 100px;">Genre :</label>
							<div>
								<select id="genre" name="genre" required>
									<option value="" disabled selected>Sélectionnez un genre</option>
									{% for genre in genres %}
										<option value="{{ genre }}">{{ genre }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<div>
							<div class="custom-file">
								<label for="file" id="fileLabel">Aucun fichier sélectionné</label>
								<input type="file" id="fileInput" name="file" accept="image/*,video/*,audio/*" multiple required>
							</div>
							<div id="filePreview" class="file-preview">
								<img id="imagePreview" style="display: none; max-width: 100%; margin: 10px 0;">
								<video id="videoPreview" style="display: none; max-width: 100%; margin: 10px 0;" controls></video>
								<audio id="audioPreview" style="display: none; max-width: 100%; margin: 10px 0;" controls></audio>
							</div>
						</div>
						<button id="addFile" type="submit">Ajouter</button>
					</form>
					<h3>Participants</h3>
					<ul>
						{% for member in project.members %}
							<li>
								<img src="{{ member.picture }}" alt="Avatar">
								<strong>{{ member.userName }}</strong>
								({{ member.role }})
							</li>
						{% endfor %}
					</ul>

				</div>
			</div>
			<button id="toggle-sidebar-btn" class="toggle-sidebar-btn" onclick="toggleSidebar()">+</button>
		</section>
	</div>
	<div id="deleteModal" class="modal">
		<div class="modal-content">
			<h2>Confirmation de suppression</h2>
			<p>Êtes-vous sûr de vouloir supprimer ce contenu ?</p>
			<form id="deleteForm" method="POST">
				<button type="submit" class="confirm-delete">Supprimer</button>
				<button type="button" class="cancel-delete" onclick="closeModal()">Annuler</button>
			</form>
		</div>
	</div>

	{% include "../partials/error.twig" %}
{% endblock %}

{% block script %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
	<script>
		$(document).ready(function () {
			$('#genre').select2({placeholder: 'Sélectionnez un genre', allowClear: true});
		});
	</script>
	<script>
    document.addEventListener("DOMContentLoaded", function () {
        const videos = document.querySelectorAll(".video");

        function checkVisibility() {
            videos.forEach(video => {
                const rect = video.getBoundingClientRect();
                const halfVisible = rect.top < window.innerHeight / 2 && rect.bottom > window.innerHeight / 2;

                if (halfVisible) {
                    video.play();
                } else {
                    video.pause();
                }
            });
        }

        window.addEventListener("scroll", checkVisibility);
        checkVisibility();

        videos.forEach(video => {
            let touchStartY = 0;
            let touchEndY = 0;
            let isFullscreen = false;

            video.addEventListener("click", function (event) {
                if (!isFullscreen) {
                    if (video.paused) {
                        video.play();
                    } else {
                        video.pause();
                    }
                }
            });

            video.addEventListener("dblclick", function () {
                if (video.requestFullscreen) {
                    video.requestFullscreen();
                } else if (video.webkitRequestFullscreen) {
                    video.webkitRequestFullscreen();
                } else if (video.msRequestFullscreen) {
                    video.msRequestFullscreen();
                }

                isFullscreen = true;
				video.muted = false;
            });

            document.addEventListener("fullscreenchange", function () {
                if (!document.fullscreenElement) {
                    isFullscreen = false;
                }
            });

            video.addEventListener("touchstart", function (event) {
                touchStartY = event.touches[0].clientY;
            });

            video.addEventListener("touchmove", function (event) {
                touchEndY = event.touches[0].clientY;

                if (touchEndY - touchStartY > 50) {
                    exitFullscreen();
                }
            });

            function exitFullscreen() {
                if (document.fullscreenElement || document.webkitFullscreenElement) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) {
                        document.msExitFullscreen();
                    }
                }

                isFullscreen = false;
                setTimeout(() => {
                    checkVisibility();
                }, 500);
            }
        });

        document.querySelectorAll(".video-controls").forEach(control => {
            control.addEventListener("click", function (event) {
                let video = this.closest(".video-container").querySelector(".video");

                if (video.paused) {
                    video.play();
                } else {
                    video.pause();
                }

                event.stopPropagation();
            });
        });
    });
</script>



	<script src="/../../assets/js/collaboration.js"></script>
{% endblock %}
