{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/../../assets/css/collaboration.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	{% include "../partials/header.twig" %}

	<div class="project-container">
		<div class="project-details">
			<h1>{{ project.name }}</h1>
			<p>{{ project.description }}</p>
		</div>

		<div class="members-list">
			<h3>Participants</h3>
			<ul>
				{% for member in project.members %}
					<li>
						<img src="{{ member.picture }}" alt="Avatar">
						<strong>{{ member.userName }}</strong>
						({{ member.role }})
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>

	{% block script %}
		<script src="/../../assets/js/collaboration.js"></script>
	{% endblock %}

{% endblock %}
