{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/../../assets/css/projects.css">
{% endblock %}

{% block title %}
	<title>{{ title }}</title>
{% endblock %}

{% block main %}
	{% include "../partials/header.twig" %}

	<div class="header">
		<li>
			<a href="/home" class="back-arrow"><img src="/../../assets/imgs/flecheBack.png" alt="arrowBack"></a>
		</li>
		<h1>Mes projets</h1>
	</div>

	<div class="projects-container" data-project-id="{{ project.id_project }}">
		{% if projects is empty %}
			<p>Vous ne participez à aucun projet pour le moment !</p>
		{% else %}
			<ul class="projects-list">
				{% for project in projects %}
					<li class="project-item" data-project-id="{{ project.id_project }}">
						<div class="project-header">
							<button class="menu-btn" id="menu-btn-{{ project.id_project }}">...</button>
							<h2 class="editable-title" contenteditable="false">{{ project.name }}</h2>
							<div class="menu-dropdown" id="menu-dropdown-{{ project.id_project }}" style="display: none;">
								{% if project.role == 'owner' %}
									<h2>Que souhaitez-vous faire avec ce projet ?</h2><br>
									<button class="edit-project" data-dropdown-id="{{ project.id_project }}">Modifier</button>
									<form action="/project/delete/{{ project.id_project }}" method="POST" class="delete-form">
										<button type="submit" class="delete" alt="Delete">Supprimer</button>
									</form>
								{% endif %}
							</div>
						</div>

						<p class="editable-description" contenteditable="false">{{ project.description }}</p>
						<h3>Participants:</h3>
						<ul class="participant-list">
							{% for user in project.users %}
								<li>
									<div class="participant-info">
										<img src="{{ user.picture }}" alt="Photo de profil" class="profile-pic">
										<span>{{ user.userName }}</span>
									</div>
									{% if project.role == 'owner' %}
										<button id="btn-remove" class="Btn remove-participant" data-user-id="{{ user.id_user }}" style="display:none;">
											<div class="sign">
												<svg viewbox="0 0 16 16" class="bi bi-trash3-fill" fill="currentColor" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
													<path d="M11 1.5 v1 h3.5 a0.5 0.5 0 0 1 0 1 h-0.538 l-0.853 10.66
																												A2 2 0 0 1 11.115 16 h-6.23
																												A2 2 0 0 1 2.89 14.16 L2.038 3.5 H1.5 a0.5 0.5 0 0 1 0-1 H5 v-1
																												A1.5 1.5 0 0 0 3.5 0 v-1
																												M4.5 5.029 l0.5 8.5
																												a0.5 0.5 0 1 0 0.998-0.06 l-0.5-8.5
																												a0.5 0.5 0 1 0-0.998 0.06
																												Z"></path>

												</svg>
											</div>
											<div class="text">Supprimer</div>
										</button>
									{% endif %}
								</li>
							{% endfor %}
						</ul>

						{% if project.role == 'owner' %}
							<div class="form-group hidden" id="searchContainer-{{ project.id_project }}">
								<label for="searchUser-{{ project.id_project }}"></label><br>
								<input type="text" id="searchUser-{{ project.id_project }}" placeholder="Ajouter un participant" style="display: none;">
								<div id="followerList-{{ project.id_project }}" class="follower-list"></div>
								<input type="hidden" id="selectedFollowers-{{ project.id_project }}" name="selectedFollowers">
								<div id="selectedFollowersContainer" class="selected-followers-container"></div>
							</div>
						{% endif %}

						{% if project.role == 'owner' %}
							<div class="add-participant-dropdown" id="add-participant-dropdown-{{ project.id_project }}" style="display: none;">
								<h3>Ajouter des participants</h3>
								<div class="participant-search">
									<input type="text" id="searchUser-{{ project.id_project }}" placeholder="Rechercher un utilisateur" class="search-input">
									<div id="followerList-{{ project.id_project }}" class="follower-list">
										{% set limitedFollowers = followers|slice(0, 3) %}
										{% for follower in limitedFollowers %}
											<div class="follower-item" data-user-id="{{ follower.id_user }}">
												<img src="{{ follower.picture }}" alt="Photo de profil">
												<span>{{ follower.userName }}</span>
											</div>
										{% endfor %}
										{% if followers|length > 3 %}
											<div class="show-more-followers">
												<span>+{{ followers|length - 3 }} autres</span>
											</div>
										{% endif %}
									</div>
								</div>
								<div class="selected-participants">
									<h4>Participants sélectionnés (max 3)</h4>
									<div id="selectedParticipantsContainer-{{ project.id_project }}" class="selected-participants-list"></div>
								</div>
								<div class="dropdown-actions">
									<button class="confirm-add-participants" data-project-id="{{ project.id_project }}">Ajouter</button>
									<button class="cancel-add-participants">Annuler</button>
								</div>
							</div>
						{% endif %}

						<div id="btn-update">
							<a href="/project/{{ project.id_project }}" class="view-project-link">Voir le projet</a>
							<button class="save-changes" style="display: none;">Enregistrer</button>
							<button class="cancel-changes" style="display: none;">Annuler</button>
						</div>
						
					</li>
					<div id="confirmModal" class="modal">
						<div class="modal-content">
							<span class="closeModal">&times;</span>
							<p class="modal-body"></p>
							<button id="confirmDelete-confirmModal">Oui</button><br>
							<button id="confirmCancel-confirmModal">Non</button>
						</div>
					</div>

					<div id="successModal" class="modal">
						<div class="modal-content">
							<span class="closeModal">&times;</span>
							<p class="modal-body"></p>
							<button id="closeSuccess">Fermer</button>
						</div>
					</div>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
	{% include "../partials/error.twig" %}
{% endblock %}
{% block script %}
	<script src="/../../assets/js/project.js"></script>
{% endblock %}
