{% extends "../layouts/base.twig" %}

{% block style %}
	<link rel="stylesheet" href="/../../assets/css/welcome.css">
{% endblock %}

{% block title %}
	<title>{{"PulseConnect"}}</title>
{% endblock %}

{% block main %}
	<div id="headWelcome">
		<div class="burger-menu" onclick="toggleMenu()">
			<span></span>
			<span></span>
			<span></span>
		</div>
		<nav id="nav-menu">
			<ul>
				<li><a href="/register">S'inscrire</a></li>
				<li><a href="/login">Se connecter</a></li>
				<li><a href="/blog">À propos</a></li>
			</ul>
		</nav>
	</div>
		<img id="backgroundHeader" src="/../../assets/imgs/Background.png" alt="image du tete avec une casquette qui porte le nom du site 'PulseConnect'">
	</div>

	<section>
		<h1>Top Artiste</h1>
		<div class="container">
			<div class="faders">
				<div class="left"></div>
				<div class="right"></div>
			</div>
			<div class="items">
				{% for user in topUsers %}
					<div class="item">
						<img class="img-resp" src="{{ user.picture }}" alt="Photo de {{ user.userName }}">
						<p class="name">{{ user.userName }}</p>
					</div>
				{% endfor %}
				{% for user in topUsers %}
					<div class="item">
						<img class="img-resp" src="{{ user.picture }}" alt="Photo de {{ user.userName }}">
						<p class="name">{{ user.userName }}</p>
					</div>
				{% endfor %}
				{% for user in topUsers %}
					<div class="item">
						<img class="img-resp" src="{{ user.picture }}" alt="Photo de {{ user.userName }}">
						<p class="name">{{ user.userName }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section id="clipWelcome">
		<h2>Top clip</h2>
		<div class="slider-container">
			<div class="slider">
				<ul>
					{% for post in topLikedPosts %}
						<li>
							<h4>{{ post.name }}</h4>
							<p class="description">
								{% if post.description %}
									{{ post.description }}{% else %}Utilisateur inconnu
								{% endif %}
							</p>
							{% if post.url and (post.url ends with '.mp3' or post.url ends with '.wav' or post.url ends with '.ogg' or post.url ends with '.flac') %}
								<audio controls>
									<source src="./uploads/{{ post.url }}" type="audio/mpeg">
									Votre navigateur ne supporte pas l'élément audio.
								</audio>
							{% endif %}

							{% if post.url and (post.url ends with '.mp4' or post.url ends with '.avi' or post.url ends with '.mkv' or post.url ends with '.mov') %}
								<video controls playsinline>
									<source src="./uploads/{{ post.url }}" type="video/mp4">
									Votre navigateur ne supporte pas l'élément vidéo.
								</video>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
			</div>
			<button class="prev" onclick="moveSlider(-1)">&#10094;</button>
			<button class="next" onclick="moveSlider(1)">&#10095;</button>
		</div>
	</section>

	<section id="lottieAnimationLeft">
		<dotlottie-player src="https://lottie.host/bb469ae7-2eea-4a64-98a4-9e382f832e51/0LHzuM66wC.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
	</section>
	<section id="lottieAnimationRight">
		<dotlottie-player src="https://lottie.host/bb469ae7-2eea-4a64-98a4-9e382f832e51/0LHzuM66wC.lottie" background="transparent" speed="1" style="width: 300px; height: 300px" loop autoplay></dotlottie-player>
	</section>

	{% include "../partials/footer.twig" %}

	{% block script %}
		<script src="/../../assets/js/welcome.js"></script>
		<script src="https://unpkg.com/@dotlottie/player-component@2.7.12/dist/dotlottie-player.mjs" type="module"></script>
	{% endblock %}

{% endblock %}